header{
    background-color: #2C3E50; color:white; 
}
.header-title{font-size: 1.2rem;font-weight:bold;}



.hamburger{font-size: 1.2rem; padding: .3rem .5rem; border:1px solid white ; color: white;}

.animated-links a {color: white; font-weight: bold; }

.animated-links a {color: white; font-weight: bold; }





.header-animation{
    z-index: 500;
    position: absolute;
    width: 190%;
    min-height: 100px;
    display: none;
    background-color: #2C3E50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header-animation-reverse{
    position: absolute;
    width: 190%;
    min-height: 100px;
    transform: translateX(-50%) ;
    display: none;
    background-color: #2C3E50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header-animation ul,
.header-animation-reverse ul{
    text-decoration: none;
    list-style:none;
}
.header-animation a,
.header-animation-reverse a{
    font-size: .8rem;
    text-decoration: none;
    color: #D15322;
}

.animated-links:hover .header-animation{
    display: block;
    animation: headerAnimation .4s ;
}
.animated-links:hover .header-animation-reverse{
    display: block;
    animation: headerAnimation .4s ;
}
@keyframes headerAnimation {
    0%{height: 0;width: 0;font-size: 0;animation-timing-function: ease-in;background-color: white}
    49.9%{ font-size: 0rem;}
    50%{min-height: 100px; width: 190%;animation-timing-function: ease-out; }
    80%{min-height: 50px; width: 190%; font-size: 1rem; animation-timing-function: ease-out;}
    100%{min-height: 100px; width: 190%; font-size: 1rem;}
}

.card-animation-class:hover img{
    animation: cardAnimation-hover .1s linear ;
    
}
.btn:hover{
    animation: cardAnimation-hover .1s linear ;
    animation-iteration-count: 2;
}
@keyframes cardAnimation-hover {
    0%{transform: rotateY(-20deg) rotateX(-20deg);}
    100%{transform: rotateY(20deg) rotateX(-20deg);}
}
#facebook-icon:hover i{
    color: #1877F2; font-size: 1.2rem;
}
#google-icon:hover i{
    color: #EA4335; font-size: 1.2rem;
}
#twitter-icon:hover i{
    color: #1DA1F2; font-size: 1.2rem;
}
#linkedin-icon:hover i{
    color: #2867B2; font-size: 1.2rem;
}