header {
    background-color: #2C3E50;
    color: white;
}

form {
    max-width: 80%;
    margin: auto;
}

.form-button {
    background-color: #1ABC9C;
    border: none;
}

.header-title {
    font-size: 1.2rem;
    font-weight: bold;
}



.hamburger {
    font-size: 1.2rem;
    padding: .3rem .5rem;
    border: 1px solid white;
    color: white;
}

.animated-links a {
    color: white;
    font-weight: bold;
}

.animated-links a {
    color: white;
    font-weight: bold;
}

.section-white {
    background-color: white;
}

.section-green {
    background-color: #1ABC9C;
}

.section-green img {
    width: 250px;
}

.section-green h1 {
    color: white;
    font-weight: bold;
}

.section-green h2 {
    color: white;
}

.section-green p {
    max-width: 80%;
    margin: auto;
    color: white;
}

.bar {
    max-width: 110px;
}

.bar-blue {
    max-width: 110px;
    height: 4px;
    background-color: #2C3E50;
    border-radius: 4px;
}

.col-img-mine {
    max-width: 100%;
    border-radius: 10px;
}

.fa-star {
    color: white;
}

.section-white .fa-star {
    color: #2C3E50;
}

.my-button {
    width: 150px;
    color: white;
    font-weight: bold;
    border-color: white;
    border-radius: 8px;
}

.header-animation {
    z-index: 500;
    position: absolute;
    width: 190%;
    min-height: 100px;
    display: none;
    background-color: #2C3E50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 60px;
}

.header-animation-reverse {
    position: absolute;
    width: 190%;
    min-height: 100px;
    transform: translateX(-50%);
    display: none;
    background-color: #2C3E50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-animation ul,
.header-animation-reverse ul {
    text-decoration: none;
    list-style: none;
}

.header-animation a,
.header-animation-reverse a {
    
    text-decoration: none;
    color: #ffffff;
}

.animated-links:hover .header-animation {
    display: block;
    animation: headerAnimation .6s;
}

.animated-links:hover .header-animation-reverse {
    display: block;
    animation: headerAnimation .6s;
}

@keyframes headerAnimation {
    0% {
        height: 0;
        width: 0;
        font-size: 0;
        animation-timing-function: ease-in;
        color: black;
        transform: rotateY(0deg)translateX(-100px);
    }


    65% {
        font-size: 0;
        min-height: 160px;
        width: 190%;
        animation-timing-function: ease-out;
    }

    80%{
        font-size: 0rem;
        min-height: 70px;
        width: 190%;
        animation-timing-function: ease-in;
    }

    
    100% {
        min-height: 160px;
        width: 190%;
        font-size: .8rem;
        transform: rotateY(-360deg)translateX(-50px);
    }
}

.card-animation-class:hover img {
    animation: cardAnimation-hover .1s linear;

}

.btn:hover {
    animation: cardAnimation-hover .1s linear;
    animation-iteration-count: 2;
}
.btn:active {
    animation: cardAnimation-hover .1s linear;
    animation-iteration-count: 2;

}
@keyframes cardAnimation-hover {
    0% {
        transform: rotateY(-20deg) rotateX(-20deg);
    }

    100% {
        transform: rotateY(20deg) rotateX(-20deg);
    }
}

#facebook-icon:hover i {
    color: #1877F2;
    font-size: 1.2rem;
}

#google-icon:hover i {
    color: #EA4335;
    font-size: 1.2rem;
}

#twitter-icon:hover i {
    color: #1DA1F2;
    font-size: 1.2rem;
}

#linkedin-icon:hover i {
    color: #2867B2;
    font-size: 1.2rem;
}

.section-light-color {
    background-color: #3A546D;
    color: white;
}

.section-dark {
    background-color: #2C3E50;
    color: white;
}

.section-light-color>div {
    min-width: 500px;
}

footer h6 a {
    color: #1ABC9C;
    text-decoration: none
}
.stylization-3d{
    position: relative;
    perspective: 600px;
    perspective-origin: 50% calc(50% - 150px);
    min-height: 800px;
}
.preserve-3d{
    transform-style: preserve-3d;
}
.card-animation-class-3d-center{
    width: 80%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card-animation-class:focus {
    animation: cardAnimation-active 0.5s linear;
    animation-delay: .1s;
    
}
.card-animation-class:focus .card-animation-class-3d-center

{
    display: block;
    animation:cardDelay 0.4s linear ;
    
} 

@keyframes cardAnimation-active {
    0% {
        position: absolute;
        width: 400px;
        transform: translateZ(0px) translateX(0px) rotateZ(0deg);
    }

    100% {
        transform: translateZ(150px) translateX(250px) rotateZ(360deg) ;
        position: absolute;
        width: 600px;
    }
}